extends layout

block scripts
    script(src='/javascripts/room.js')

block content
  h1 Welcome to Club #{title}!
  p All are welcome at Club #{title}, but to sign the guestbook or leave a comment, you must be a fingerprinted member.

  h3
   | Your codename is 
   span#codename.codename
   | .
  p
    em Codenames are stored in localStorage. If that gets flushed, you'll lose your name.

  h2 Guestbook
  p The guestbook has been signed by #{numEntries} people. Make yourself one of them!
  button(onclick="signGuestbook()") Sign The Guestbook

  h2 Chatroom
  ul 
    each val in chatroom
      li 
       span.codename #{val.codename}:
       | 
       | #{val.post}
 
  textarea(id="chatbox", cols="30", rows="10")
  button(id="post-chat" onclick="postChat()") Post
